Repository pavankpdev/swooshpay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

feat(db): setup dbmate database migration tool
  db/migrations/20250825072504_init_setup.sql
  db/migrations/20250825072646_create_users_table.sql
Due: none

chore(dx): add make file
  .gitignore
  Makefile
  apps/backend/tsconfig.app.json
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(db): setup seed script, add env validation
  apps/backend/src/app/app.module.ts
  apps/backend/src/db/connection.ts
  apps/backend/src/db/generated/db.d.ts
  apps/backend/src/env.ts
  apps/backend/tsconfig.app.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.spec.json
  nx.json
  package.json
  pnpm-lock.yaml
  scripts/seed.ts
  tsconfig.base.json
Due: eslint --fix --max-warnings=0, prettier --write

feat(auth): setup passport strategies for local auth
  apps/backend/src/app/app.controller.ts
  apps/backend/src/app/app.module.ts
  apps/backend/src/auth/auth.controller.spec.ts
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.service.spec.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/guards/jwt-auth.guard.ts
  apps/backend/src/auth/guards/local-auth.guard.ts
  apps/backend/src/auth/strategy/jwt.strategy.ts
  apps/backend/src/auth/strategy/local.strategy.ts
  apps/backend/src/env.ts
  apps/backend/src/users/users.controller.spec.ts
  apps/backend/src/users/users.controller.ts
  apps/backend/src/users/users.module.ts
  apps/backend/src/users/users.service.spec.ts
  apps/backend/src/users/users.service.ts
  apps/backend/src/utils/current-user.ts
  apps/backend/src/utils/is-public.decorator.ts
  package.json
  pnpm-lock.yaml
  scripts/seed.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(docs): setup Swagger and bump cli for documentation
  apps/backend/src/app/app.controller.ts
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.dto.ts
  apps/backend/src/main.ts
  openapi.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore(db): add a migration to include is_confirmed column in user tab;e
  db/migrations/20250826121530_add_is_confirmed_status_to_user.sql
Due: none

feat(notification): setup sms and email notification service using factory pattern
  apps/backend/src/notification/config/notification.config.ts
  apps/backend/src/notification/notification.interface.ts
  apps/backend/src/notification/notification.module.ts
  apps/backend/src/notification/notification.provider.factory.ts
  apps/backend/src/notification/notification.service.ts
  apps/backend/src/notification/providerts/email/interface.ts
  apps/backend/src/notification/providerts/email/ses.provider.ts
  apps/backend/src/notification/providerts/sms/interface.ts
  apps/backend/src/notification/providerts/sms/local.provider.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(auth): setup register endpoint
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.dto.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/env.ts
  apps/backend/src/main.ts
  apps/backend/src/users/users.service.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(dx): add commands to makedile
  Makefile
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(user): hash password with scrypt
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/users/users.service.ts
  apps/backend/src/utils/crypto.ts
  scripts/seed.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(otp): setup table to track OTPs
  db/migrations/20250826145904_add_otp_table.sql
Due: none

feat(otp): setup methods to generate and store OTP
  Makefile
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/db/generated/db.d.ts
  apps/backend/src/env.ts
  apps/backend/src/utils/crypto.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(otp-verification): wip - add otp verification service
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.dto.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/main.ts
  apps/backend/src/users/users.service.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(otp): insert failed to store the OTP in DB
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/utils/current-user.ts
  commitlint.config.ts
  db/migrations/20250827144932_fix_otp_unique_index.sql
Due: eslint --fix --max-warnings=0, prettier --write

fix(auth): remove global jwt guard
  apps/backend/src/app/app.module.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(auth): setup guards to support audience for short lived JET session
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/guards/verification-auth.guard.ts
  apps/backend/src/auth/strategy/verification-auth.strategy.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(otp): add verification_session table to track live verification sessions
  db/migrations/20250828094730_add_verification_session_table.sql
Due: none

feat(otp): create and insert new session upto issuing OTP token, and store JwtID in the payload
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/strategy/jwt.strategy.ts
  apps/backend/src/auth/strategy/verification-auth.strategy.ts
  apps/backend/src/db/generated/db.d.ts
  apps/backend/src/main.ts
  apps/backend/src/types/common.ts
  apps/backend/src/utils/jwt-decoded-decorator.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(verify-session): track session status to achieve idempotency
  db/migrations/20250829115600_add_status_to_verification_table.sql
Due: none

feat(verify-session): add resend OTP controller
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/strategy/verification-auth.strategy.ts
  apps/backend/src/db/generated/db.d.ts
  apps/backend/src/users/users.service.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(verification): setup vti flow to get fresh verification token
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(reset-pwd): add db migrations to index session purpose and introduce forgot_password purpose
  db/migrations/20250829132656_create_userid_purpose_unique_constraint_for_verification_session.sql
  db/migrations/20250831071838_add_forgot_pwd_type_to_otp_purpose.sql
Due: none

fix(reset-pwd): add missing OTP verification flow and extend verify guard
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.dto.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/guards/verification-auth.guard.ts
  apps/backend/src/auth/strategy/verification-auth.strategy.ts
  apps/backend/src/users/users.service.ts
  apps/backend/src/utils/constants.ts
Due: eslint --fix --max-warnings=0, prettier --write

ci(notification): add local notification provider for CI env
  apps/backend/src/notification/config/notification.config.ts
  apps/backend/src/notification/notification.provider.factory.ts
  apps/backend/src/notification/providerts/email/outbox.provider.ts
  apps/backend/src/notification/providerts/email/ses.provider.ts
Due: eslint --fix --max-warnings=0, prettier --write

ci(e-to-e): add happy cases for user auth
  apps/backend-e2e/src/backend/backend.spec.ts
  apps/backend-e2e/src/support/test-setup.ts
  apps/backend-e2e/tsconfig.spec.json
  apps/backend/src/db/generated/db.d.ts
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: (any of: apps/**/src/**/*.{ts,tsx,js,jsx}) or (any of: libs/**/src/**/*.{ts,tsx,js,jsx})
  prettier --write: ((any of: apps/**/src/**/*.{ts,tsx,js,jsx}) or (any of: libs/**/src/**/*.{ts,tsx,js,jsx})) or (any of: *.{json,md,mdx,yml,yaml,css,scss,less})
